<div class="dialog-content">
    <h1 mat-dialog-title>Add new logistic customer</h1>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <mat-dialog-content>
        <div>
            <h2>Customer Informations</h2>
            <div class="customer-informations">
                <mat-form-field appearance="outline">
                    <mat-label>Customer Number</mat-label>
                    <input [(ngModel)]="customer.customerNumber" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Customer Name</mat-label>
                    <input [(ngModel)]="customer.customerName" matInput>
                </mat-form-field>
            </div>
            <div class="flex-direction-column">
                <div class="customer-adress">
                    <mat-form-field appearance="outline">
                        <mat-label>Street + House No.</mat-label>
                        <input [(ngModel)]="customer.adress" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>ZipCode</mat-label>
                        <input [(ngModel)]="customer.zipCode" matInput>
                    </mat-form-field>
                </div>
                <div class="customer-adress">
                    <mat-form-field appearance="outline">
                        <mat-label>Location</mat-label>
                        <input [(ngModel)]="customer.location" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Country</mat-label>
                        <input [(ngModel)]="customer.country" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="full-width">
                <mat-form-field appearance="outline">
                    <mat-label>Plannend Go Live</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="customer.goLive" name="goLive">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Internal project manager</mat-label>
                    <mat-select>
                      @for (pm of projectManager; track pm) {
                        <mat-option [value]="pm.value">{{pm.viewValue}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
 


        <div class="full-width">
            <!-- Logistic Tasks -->
            <div>
                <h2>Logistic Tasks</h2>
                <mat-selection-list #tasks>
                    @for (tasks of logisticalTasks; track tasks) {
                    <mat-list-option>{{tasks}}</mat-list-option>
                    }
                </mat-selection-list>
            </div>
            <!-- Logistic Sector -->
            <div>
                <h2>Logistic Sector</h2>
                <mat-selection-list #sector [multiple]="false">
                    @for (sector of logisticsSector; track sector) {
                    <mat-list-option [value]="sector">{{sector}}</mat-list-option>
                    }
                </mat-selection-list>
            </div>

        </div>


    </mat-dialog-content>

    <mat-dialog-actions>
        <button matButton (click)="closeAddCustomerDialog()">Cancel</button>
        <button matButton cdkFocusInitial (click)="saveCustomer()">Save</button>
    </mat-dialog-actions>
</div>