<mat-card class="customer-detail-header" *ngIf="customer$ | async as customer">
    <!-- Profilbild: height/width: 80px / border-radius: 100% -->
    <div>
        <mat-card-title class="customer-name">{{ customer.customerName }} - {{customer.customerNumber}}</mat-card-title>
    </div>
</mat-card>

<mat-card *ngIf="customer$ | async as customer" >
    <mat-card-header>
        <mat-card-title>Address Information</mat-card-title>
    </mat-card-header>
    <div class="address-information-container">
        <mat-card-content>
            <div class="address-information">Street + House No.: {{customer.adress}}</div>
            <div class="address-information">ZipCode: {{customer.zipCode}} {{customer.location}}</div>
            <div class="address-information">Country: {{customer.country}}</div>
        </mat-card-content>
        <button class="material-icons" [matMenuTriggerFor]="addressMenu">
            edit
        </button>
        <mat-menu #addressMenu="matMenu">
            <button mat-menu-item (click)="openEditAdressDialog()">Edit Adress</button>
          </mat-menu>
    </div>

    <!-- Menu - Edit Button -->
</mat-card>

<mat-card *ngIf="customer$ | async as customer">
    <mat-card-header>
        <mat-card-title>Internal Informations</mat-card-title>
    </mat-card-header>
    <div class="address-information-container">
        <mat-card-content>
            <div class="address-information">Internal Projectmanager: {{customer.projectManager}}</div>
            <div class="address-information">Project Status: {{customer.projectStatus}}</div>
            <div class="address-information">Logistic Sector: {{customer.logisticSector}}</div>
            <div class="address-information">Logistic Task: {{customer.logisticalTasks}}</div>
        </mat-card-content>
        <button class="material-icons" [matMenuTriggerFor]="addressMenu">
            edit
        </button>
        <mat-menu #addressMenu="matMenu">
            <button mat-menu-item (click)="openEditInternalInformationDialog()">Edit Adress</button>
          </mat-menu>
    </div>
</mat-card>