.mat-drawer-container  {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
}

.sidenav {
    width: 300px;
    
}

.logo-container {
    border-bottom: 1px solid black;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    display: flex;
    align-items: center;
    gap: 8px;
}

mat-toolbar, mat-toolbar-row {
    min-height: 56px;
    height: 56px;
    background-color: rgb(30, 117, 210);
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    li {
        padding-left: 16px;
        padding-right: 16px;
        min-height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 16px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.04)
        }

        &:focus {
            outline: none;
        }
    }
}

.router-container {
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
}

.logo {
    height: 48px;
    width: 48px;
}

.menu-header-container {
    display: flex;
    align-items: center;
    gap: 36px;
}