.mat-drawer-container  {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
}

.sidenav {
    width: 300px;
    
}

.logo-container {
    border-bottom: 1px solid black;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    display: flex;
    align-items: center;
}

mat-toolbar, mat-toolbar-row {
    min-height: 56px;
    height: 56px;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    li {
        padding-left: 16px;
        padding-right: 16px;
        min-height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 16px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.15)
        }
    }
}