.customer-informations, .customer-adress {
    display: flex;
    gap: 20px;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}


.full-width {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.dialog-add-customer-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}