<div class="dialog-content">
    <h1 mat-dialog-title>Add new logistic customer</h1>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <mat-dialog-content>
        <div>
            <h2>Customer Informations</h2>
            <div class="customer-informations">
                <mat-form-field appearance="outline">
                    <mat-label>Customer Number</mat-label>
                    <input [(ngModel)]="customer.customerNumber" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Customer Name</mat-label>
                    <input [(ngModel)]="customer.customerName" matInput>
                </mat-form-field>
            </div>
            <div class="flex-direction-column">
                <div class="customer-adress">
                    <mat-form-field appearance="outline">
                        <mat-label>Street + House No.</mat-label>
                        <input [(ngModel)]="customer.adress" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>ZipCode</mat-label>
                        <input [(ngModel)]="customer.zipCode" matInput>
                    </mat-form-field>
                </div>
                <div class="customer-adress">
                    <mat-form-field appearance="outline">
                        <mat-label>Location</mat-label>
                        <input [(ngModel)]="customer.location" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Country</mat-label>
                        <input [(ngModel)]="customer.country" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="full-width">
                <mat-form-field appearance="outline">
                    <mat-label>Plannend Go Live</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="customer.goLive" name="goLive">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="full-width mg-bottom-8">
                <!-- Status Quo-->
                <div>
                    <h2>Project Status Quo</h2>
                    <mat-radio-group [(ngModel)]="customer.projectStatus">
                        <mat-radio-button *ngFor="let status of projectStatus" [value]="status">
                            {{ status }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <div class="full-width">
                <h2>Project Manager</h2>
                <mat-form-field>
                    <mat-label>Internal project manager</mat-label>
                    <mat-select [(ngModel)]="customer.projectManager">
                        @for (pm of projectManager; track pm) {
                        <mat-option [value]="pm.value">{{pm.viewValue}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="full-width mg-bottom-8">
            <!-- Logistic Tasks -->
            <div>
                <h2>Logistical Tasks</h2>
                <mat-chip-listbox multiple [(ngModel)]="selectedTasks">
                    <mat-chip-option *ngFor="let task of logisticalTasks" [value]="task">
                        {{ task }}
                    </mat-chip-option>
                </mat-chip-listbox>
            </div>
        </div>
        <div class="full-width mg-bottom-8">
            <!-- Logistic Sector -->
            <div>
                <h2>Logistic Sector</h2>
                <mat-radio-group [(ngModel)]="customer.logisticSector">
                    <mat-radio-button *ngFor="let sector of logisticsSector" [value]="sector">
                        {{ sector }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>


    </mat-dialog-content>

    <div class="dialog-add-customer-btn-container">
        <mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="closeAddCustomerDialog()">Cancel</button>
            <button mat-raised-button color="primary"  (click)="saveCustomer()" type="submit">
                Save
            </button>
        </mat-dialog-actions>
    </div>
</div>