.add-customer-btn {
    position: absolute;
    right: 56px;
    bottom: 20px;
    cursor: pointer;
}

.customer-grid {
    .customer-card {
        cursor: pointer;
        .customer-main-information {
            padding-left: 18px;
            padding-top: 24px;
            padding-bottom: 18px;
            position: relative;
            display: flex;
            gap: 80px;
            align-items: center;
            .customer-name {
                font-size: 24px;
            }

            .customer-img {
                width: 42px;
                height: 42px;
                position: absolute;
                right: 56px;

            }
        }

        .customer-logistic-overview {
            display: grid;
            row-gap: 6px;

            .word-hightlight {
                font-weight: 800;
                color: #2c2b2b;
            }

            .row {
                display: grid;
                grid-template-columns: 220px 1fr;
                column-gap: 8px;
            }
        }
    }
}

mat-card {
    background-color: rgba(94, 216, 235, 0.4);
    margin-bottom: 8px;
}